<%= stylesheet_link_tag 'flowers' %>

<%= form_with(model: flower) do |form| %>
  <% if flower.errors.any? %>
    <div id="error_explanation">
    <h2>
      <%= t("errors.template.header", model: t("activerecord.models.flower"), count: flower.errors.count) %>
    </h2>
      <ul>
        <% flower.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-container">
    <div class="field">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, placeholder: '花の名前を入力してください', class: "form-input" %>
    </div>

    <div class="field">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, placeholder: '花の詳細を入力してください', class: "form-input" %>
    </div>

    <div class="field">
      <%= form.label :image, t('labels.image'), class: "form-label" %>
      <%= form.file_field :image, class: "form-input" %><br>
    </div>

    <div class="field">
      <%= form.label :address, class: "form-label" %>
      <%= form.text_field :address, placeholder: '住所や建物の名前を入力してください', class: "form-input" %>
    </div>

    <div class="field" hidden>
      <%= form.label :latitude %>
      <%= form.number_field :latitude, step: 'any', id: 'lat' %>
    </div>

    <div class="field" hidden>
      <%= form.label :longitude %>
      <%= form.number_field :longitude, step: 'any', id: 'lng' %>
    </div>

  <div class="content">
  <div id="map"></div>
  <style>
    #map {
      height: 300px;
      width: 300px;
    }
  </style>
  <script>
  var map;
  var marker;

  function initMap() {
    const defaultCenter = { lat: 35.4550426, lng: 139.6312741 };
    const mapOptions = {
      zoom: 6,
      center: defaultCenter,
    };

    map = new google.maps.Map(document.getElementById("map"), mapOptions);

    map.addListener("click", function (e) {
      getClickLatLng(e.latLng, map);
    });

    const addressField = document.getElementById("address");
    const latHiddenField = document.getElementById("lat");
    const lngHiddenField = document.getElementById("lng");
    const service = new google.maps.places.PlacesService(map);

    addressField.addEventListener("change", (e) => {
      const address = e.target.value;
      const request = {
        query: address,
        fields: ["name", "geometry"],
      };
      service.findPlaceFromQuery(request, function (results, status) {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
          for (let i = 0; i < results.length; i++) {
            const place = results[i];
            const lat = place.geometry.location.lat();
            const lng = place.geometry.location.lng();
            const latLng = { lat: lat, lng: lng };
            getClickLatLng(latLng, map);
            latHiddenField.value = lat;
            lngHiddenField.value = lng;
          }
        }
      });
    });
  }

  function getClickLatLng(latLng, map) {
    if (marker) {
      marker.setMap(null);
    }

    marker = new google.maps.Marker({
      position: latLng,
      map: map,
    });

    map.panTo(latLng);

    document.getElementById("lat").value = latLng.lat();
    document.getElementById("lng").value = latLng.lng();
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
    
  <div class="actions">
    <%= form.submit "登録", class: "submit-button" %>
  </div>
</div>
<% end %>
