<%= stylesheet_link_tag 'flowers' %>

<%= form_with(model: flower) do |form| %>
  <% if flower.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flower.errors.count, "error") %> prohibited this flower from being saved:</h2>

      <ul>
        <% flower.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-container">
    <div class="field">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-input" %>
    </div>

    <div class="field">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, class: "form-input" %>
    </div>

    <div class="field">
      <%= form.label :image, 'Image', class: "form-label" %>
      <%= form.file_field :image, class: "form-input" %><br>
    </div>

    <div class="field">
      <%= form.label :address, class: "form-label" %>
      <%= form.text_field :address, class: "form-input" %>
    </div>

  <div class="content">
  <div id="map"></div>
  <style>
        #map {
          height: 300px;
          width: 300px;
        }
      </style>
      <script>
      function initMap() {
  
        // マップの初期化
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: {lat: 35.4550426, lng: 139.6312741}
        });
  
        // クリックイベントを追加
        map.addListener('click', function(e) {
          getClickLatLng(e.latLng, map);
        });
      }
  
      function getClickLatLng(lat_lng, map) {
  
        // マーカーを設置
        var marker = new google.maps.Marker({
          position: lat_lng,
          map: map
        });
  
        // 座標の中心をずらす
        // http://syncer.jp/google-maps-javascript-api-matome/map/method/panTo/
        map.panTo(lat_lng);
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
    
    <div class="actions">
      <%= form.submit "登録", class: "submit-button" %>
    </div>
  </div>

<% end %>
