<%= stylesheet_link_tag 'flowers' %>

<% if current_user.try(:admin?) %>
  <h1>管理者ページ</h1>
<% else %>
  <h1>花一覧</h1>
<% end %>

<%= link_to '花を投稿する', new_flower_path, class: "submit-button" %>
<%= render 'search', q: @q, url: flowers_path %>

<div id='map'></div>
  <style>
    #map {
      height: 500px;
      width: 1500px;
    }
  </style>
  <script>
  var map;
  var bounds;
  var marker = [];
  var infoWindow = [];
  // コントローラーで定義したインスタンス変数(@flowers)を代入
  var markerData = gon.flowers;
      
  function initMapindex() {
    // マップの初期化
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 9,
      center: {lat: 35.4550426, lng: 139.6312741}
    });

    // @flowersの数だけ繰り返し処理を行い、マーカーと吹き出しを複数表示させる
    for (var i = 0; i < markerData.length; i++) {
      let id = markerData[i]['id']

      // 各スポットの緯度経度を算出
      markerLatLng = new google.maps.LatLng({
        lat:  Number(markerData[i]['latitude']),
        lng:  Number(markerData[i]['longitude'])
      });

       // 各スポットのマーカーを作成
      marker[i] = new google.maps.Marker({
        position: markerLatLng,
        map: map
      });

      // 各スポットの吹き出しを作成
      infoWindow[i] = new google.maps.InfoWindow({
        // 吹き出しの内容
        content: `<a href='/flowers/${ id }' class='custom-link'>${ markerData[i]['name'] }<br><img src="${ markerData[i]['image_url'] }" width="100" /></a>`
      });

      // マーカーにクリックイベント追加
      markerEvent(i);
    }
    map_adjust();
  }

  // マーカーをクリックしたら吹き出しを表示
  function markerEvent(i) {
    marker[i].addListener('click', function () {
      infoWindow[i].open(map, marker[i]);
    });

  }

  function map_adjust(){
    var latMin = 90;  //緯度は-90～90の値
    var latMax = -90;
    var lngMin = 180;  //経度は-180～180の値
    var lngMax = -180;

    if (markerData.length == 1){
      map = new google.maps.Map(document.getElementById('map'), {
        center: {
          lat: gon.flower.latitude,
          lng: gon.flower.longitude
        },
      });

    }else{
      for (var i = 0; i < markerData.length; i++) {
        var thisLat = markerData[i]['latitude'];
        var thisLng = markerData[i]['longitude'];
        latMin = Math.min(latMin, thisLat);  //最小経度
        latMax = Math.max(latMax, thisLat);  //最大経度
        lngMin = Math.min(lngMin, thisLng);  //最小緯度
        lngMax = Math.max(lngMax, thisLng);  //最大緯度

        var min = new google.maps.LatLng(latMin, lngMin);  //最小緯度経度（南西）
        var max = new google.maps.LatLng(latMax, lngMax);  //最大緯度経度（北東）
        var latLngBounds = new google.maps.LatLngBounds(min, max);
        //マーカーが全て地図に収まるように調整
        map.fitBounds(latLngBounds);  
      }
    }
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMapindex" async defer></script>

<div class="grid-container">
  <% @flowers.each do |flower| %>
    <div class="grid-item">
      <div class="user-info">
        <div>
        <%= link_to user_path(flower.user.id) do %>
          <% if flower.user.profile_image.attached? %>
            <%= image_tag flower.user.profile_image.variant(resize: "40x40", auto_orient: true, quality: 100), class: "rounded-small-profile-image" %>
          <% else %>
          <%= image_tag "default_profile_image.png", alt: "デフォルトプロフィール画像", class: "rounded-small-profile-image", size: "40x40" %>
          <% end %>
        </div>
        <div class="user-name"><%= flower.user.name %></div>
        <% end %>
      </div>
      <% if flower.image.attached? %>
        <%= image_tag flower.image.variant(resize_and_pad: [200, 200]) %>
      <% end %>
      <div class="image-info">
      
        <div class="flower-name"><%= flower.name %></div>
        <div class="flower-description"><%= flower.description %></div>
        <div class="flower-address"><%= flower.address %></div>
        <div class="created-at"><%= time_ago_in_words(flower.created_at) %>前</div>
      </div>
      <div class="actions">
        <%= link_to '詳細', flower %>
        <% if user_signed_in? && current_user == flower.user %>
          <%= link_to '編集', edit_flower_path(flower) %>
          <%= link_to '削除', flower, method: :delete, data: { confirm: '本当に削除しても良いですか?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>