<% if user_signed_in? %>
  <h3><%= current_user.name %>のページ</h3>
<% end %>
<% if current_user.try(:admin?) %>
  <h1>Flowers_admin</h1>
<% else %>
  <h1>Flowers</h1>
<% end %>

<%= render 'search', q: @q, url: flowers_path %>

<table>
  <thead>
    <td>
      <div id='map'></div>
      <style>
        #map {
          height: 200px;
          width: 200px;
        }
      </style>
      <script>
        let map

        function initMap(){
          geocoder = new google.maps.Geocoder()
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 35.4550426, lng:139.6312741},
            zoom: 16,
          });

          marker = new google.maps.Marker({
            position:  {lat: 35.4550426, lng:139.6312741},
            map: map
          });
        }
        let geocoder

        function codeAddress(){
          let inputAddress = document.getElementById('address').value;

          geocoder.geocode( { 'address': inputAddress}, function(results, status) {
            if (status == 'OK') {
              map.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
              });
            } else {
              alert('該当する結果がありませんでした：' + status);
            }
          });   
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
      </td>
    <tr>
      <th>投稿者</th>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flowers.each do |flower| %>
      <tr>
        <td><%= flower.user.name %></td>
        <td><%= flower.name %></td>
        <td><%= flower.description %></td>
        <td><% if flower.image.attached? %>
          <%= image_tag flower.image.variant(resize_to_limit: [200, 200]) %>
        <% end %></td>
        <td><%= link_to 'Show', flower %></td>
        <td><%= link_to 'Edit', edit_flower_path(flower) %></td>
        <td><%= link_to 'Destroy', flower, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flower', new_flower_path %>
