<%= stylesheet_link_tag 'flowers' %>

<h1>花の詳細情報</h1>

<div class="detail-container">
  <div class="detail-item">
    <div class="image-info">
      <div class="user-name">
        <%= @flower.user.name %>
      </div>

      <div class="created-at">
        <%= time_ago_in_words(@flower.created_at) %>前</div>

      <div class="flower-name">
        <%= @flower.name %>
      </div>

      <div class="flower-name">
        <%= @flower.description %>
      </div>

      <div class="flower-name">
        <% if @flower.image.attached? %>
          <%= image_tag @flower.image.variant(resize_to_limit: [200, 200]) %>
        <% end %>
      </div>

      <div class="flower-name">
        <%= @flower.address %>
      </div>

      <div class="flower-name">
        <script type="text/javascript">
          function initMapshow() {
            var test = {lat: <%= @flower.latitude %>, lng: <%= @flower.longitude %>};
            var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 15, 
                      center: test
                      });
            var transitLayer = new google.maps.TransitLayer();
            transitLayer.setMap(map);
            var contentString = '住所：<%= @flower.address %>';
            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });
            var marker = new google.maps.Marker({
                          position:test,
                          map: map,
                          title: contentString
                        });
            marker.addListener('click', function() {
              infowindow.open(map, marker);
            });
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMapshow" async defer></script>
        <style type="text/css">
          #map {
            height: 200px;
            width: 200px;
          }
        </style>
        <div id="map"></div>
      </div>

      <div class="flower-name" id: "favorite-button" >
        <% if user_signed_in? %>
          <% unless @flower.favorite_users == current_user %>
            <% if @favorite.present? %>
              <%= link_to 'お気に入りを解除する', favorite_path(id: @favorite.id), method: :delete, class: "custom-link" %>
            <% else %>
              <%= link_to 'お気に入りする', favorites_path(flower_id: @flower.id), method: :post, class: "custom-link" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="action">
    <p>コメント一覧</p>
    </div>

    <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
    <div id="comments_area">
      <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'comments/index', locals: { comments: @comments, flower: @flower } %>
    </div>

    <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/form', locals: { comment: @comment, flower: @flower } %>
  </div>
</div>

<%= link_to '戻る', flowers_path, class: 'back-link' %>
