<p>
  <strong>UserName:</strong>
  <%= @flower.favorite_users.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @flower.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @flower.description %>
</p>

<p>
  <strong>Image:</strong>
  <% if @flower.image.attached? %>
    <%= image_tag @flower.image.variant(resize_to_limit: [200, 200]) %>
  <% end %>
</p>

<p>
  <strong>Fav:</strong>
  <% unless @flower.favorite_users == current_user %>
    <% if @favorite.present? %>
      <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'お気に入り登録する', favorites_path(flower_id: @flower.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_flower_path(@flower) %> |
<%= link_to 'Back', flowers_path %>
