<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>



<p>
<%= link_to "画像一覧画面へ", flowers_path%>
<%= link_to 'お気に入り一覧', favorites_path %><br>
<% if @user == current_user %>
  <%= link_to "プロフィールの編集", edit_user_path%>
<% end %>
</p>